#menu { position: fixed; right: 20px; top: 50%; width: 90px; margin: -160px 0 0; padding: 0; list-style-type: none; z-index: 70;}
#menu li { margin-top: 10px; font: 14px "Microsoft Yahei";}
#menu a { display: block; padding: 10px 0; background-color: #fff; color: #0074EA; text-align: center; text-decoration: none;}
#menu .active a { color: #fff; background-color: rgb(0, 116, 234);}
.banner-top {height: 64px; width:100%;  position: fixed;z-index: 100;background-color: #ADADAD;background: rgba(14, 10, 22,0.3);filter:alpha(opacity=30); }
.re{ margin-top: 19px; color:#FFF8EF;font-size: 18px;display: inline-block;}
.head {height: 46px;width:46px; float: left;margin: 10px;border-radius: 23px; -webkit-border-radius:23px; vertical-align: middle;}
.social-network {height: 46px;width:46px;float: right;border-radius: 23px; -webkit-border-radius:23px;padding-top: 10px; padding-bottom: 10px;}
.section {  font: 18px "Microsoft Yahei"; color: #393939;}
.box1 { position: relative; width:100%; height: 100%; margin: 0 auto; background-image: url(../images/11.jpg); overflow: hidden;}
.box2 { position: relative; width:100%; height: 100%; margin: 0 auto; background-image: url(../images/bg6.png); overflow: hidden;}
.box3 { position: relative; width:100%; height: 100%; margin: 0 auto; background-image: url(../images/bg3.png); overflow: hidden;}
.box4 { position: relative; width:100%; height: 100%; margin: 0 auto; background-image: url(../images/bg4.png); overflow: hidden;}
.box5 { position: relative; width:100%; height: 100%; margin: 0 auto; background-image: url(../images/bg5.png); overflow: hidden;}
.box6 { position: relative; width:100%; height: 100%; margin: 0 auto; background-image: url(../images/bg6.png); overflow: hidden;}
/*第一页的内容*/
.b1-text {width:400px;height: 450px; margin: 20% auto;text-align: center;}
.b1-text p{ font-size: 24px;color:#FCFDFC; }
@-moz-keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
@-webkit-keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
@-o-keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
@keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
#down {  text-align: center;  height: 150px; margin-top:110px; -moz-animation: myMove 1s linear infinite alternate;   -webkit-animation: myMove 1s linear infinite alternate;  -o-animation: myMove 1s linear infinite alternate;  animation: myMove 1s linear infinite alternate;}

/*第二页的内容*/
.box2-top { text-align: center;margin-top: 100px;  }
.b2-me {width:379px; height:279px;margin:9px 0 0 100px; border-radius: 20px;-webkit-border-radius:20px;}
.b2-text {width:300px;height:267px;margin:14px 0 0 20px;margin-left:20px;vertical-align:top;display: inline-block;text-align: left;}
.b2-text li{margin-top: 15px;list-style-type:none;}
.b2-text img{ width: 20px; height: 20px; margin-left:15px;vertical-align: middle;}
.b2-text a{vertical-align: middle;margin-left:15px;}
.box2-bottom {border-top:2px dashed gray;border-bottom:2px dashed gray;margin-top:20px;text-align: center;}
/*.box2-bottom p{width:23px;height:120px;display:inline-block; font-size:23px;}
*/
/*.box2-bottom ul{display: inline-block;}*/

.box2-bottom li{ width: 220px;height: 160px;margin:10px 0 0 0;border:3px solid #003359;border-radius: 20px;padding:4px;vertical-align:middle;list-style-type: none;display: inline-block;text-align: left; }
.box2-bottom img{width: 130px;height: 108px;vertical-align: middle;}
.box2-bottom p{width:23px;height:120px;margin-right: 10px;display:inline-block; font-size:23px;font-weight:900;vertical-align: middle;}