/* 
html5doctor.com Reset Stylesheet
v1.4.1 
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: "Yahei";
}

body {
    line-height:1;
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}
li {list-style-type: none;}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}



#menu { position: fixed; right: 20px; top: 50%; width: 90px; margin: -160px 0 0; padding: 0; list-style-type: none; z-index: 70;}
#menu li { margin-top: 10px; font: 14px "Microsoft Yahei";}
#menu a { display: block; padding: 10px 0; background-color: #fff; color: #0074EA; text-align: center; text-decoration: none;}
#menu .active a { color: #fff; background-color: rgb(0, 116, 234);}
.banner-top {height: 64px; width:100%;  position: fixed;z-index: 100;background-color: #ADADAD;background: rgba(14, 10, 22,0.3);filter:alpha(opacity=30); }
.re{ margin-top: 19px; color:#FFF8EF;font-size: 18px;display: inline-block;}
.head {height: 46px;width:46px; float: left;margin: 10px;border-radius: 23px; -webkit-border-radius:23px; vertical-align: middle;}
.social-network {height: 46px;width:46px;float: right;border-radius: 23px; -webkit-border-radius:23px;padding-top: 10px; padding-bottom: 10px;}
.section {  font: 18px "Microsoft Yahei"; color: #393939;}
.box1 { position: relative; width:100%; height: 100%; margin: 0 auto; background-image: url(../images/11.jpg); overflow: hidden;}
.box2 { position: relative; width:100%; height: 100%; margin: 0 auto; background-image: url(../images/bg6.png); overflow: hidden;}
.box3 { position: relative; width:100%; height: 100%; margin: 0 auto; background-image: url(../images/bg3.png); overflow: hidden;}
.box4 { position: relative; width:100%; height: 100%; margin: 0 auto; background-image: url(../images/bg4.png); overflow: hidden;}
.box5 { position: relative; width:100%; height: 100%; margin: 0 auto; background-image: url(../images/bg5.png); overflow: hidden;}
.box6 { position: relative; width:100%; height: 100%; margin: 0 auto; background-image: url(../images/bg6.png); overflow: hidden;}
/*第一页的内容*/
.b1-text {width:400px;height: 450px; margin: 20% auto;text-align: center;}
.b1-text p{ font-size: 24px;color:#FCFDFC;line-height: 2; }
@-moz-keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
@-webkit-keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
@-o-keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
@keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
#down {  text-align: center;  height: 150px; margin-top:110px; -moz-animation: myMove 1s linear infinite alternate;   -webkit-animation: myMove 1s linear infinite alternate;  -o-animation: myMove 1s linear infinite alternate;  animation: myMove 1s linear infinite alternate;}
#downCanvas{margin: 0 auto;}
/*第二页的内容*/
.box2-top { text-align: center;margin-top: 100px;  }
.b2-me {width:379px; height:279px;margin:9px 0 0 100px; border-radius: 20px;-webkit-border-radius:20px;}
.b2-text {width:300px;height:267px;margin:14px 0 0 20px;margin-left:20px;vertical-align:top;display: inline-block;text-align: left;}
.b2-text li{margin-top: 15px;list-style-type:none;}
.b2-text img{ width: 20px; height: 20px; margin-left:15px;vertical-align: middle;}
.b2-text a{vertical-align: middle;margin-left:15px;}
.box2-bottom {border-top:2px dashed gray;margin-top:20px;text-align: center;}
/*.box2-bottom p{width:23px;height:120px;display:inline-block; font-size:23px;}
*/
/*.box2-bottom ul{display: inline-block;}*/
.box2-bottom li{ width: 220px;height: 160px;margin:10px 0 0 0;border:3px solid #003359;border-radius: 20px;padding:4px;vertical-align:middle;list-style-type: none;display: inline-block;text-align: left;font-size: 17px;
    padding: 5px 5px 5px 11px;
    line-height: 1.5; }
.box2-bottom img{width: 130px;height: 108px;vertical-align: middle;}
.box2-bottom p{width:23px;height:120px;margin-right: 10px;display:inline-block; font-size:23px;font-weight:900;vertical-align: middle;}
/*第三页的内容*/
.b3-left{display: inline-block;margin:0 0 0 60px;vertical-align: top;}
/*logos*/
.logos{width: 450px;height: 250px;margin:98px 0 0 0;}
.logos li{list-style-type: none;display: inline-block;}
/*.logos img{border:1px solid green;}*/
.htmllogo{width:118px;height:144px;background: url(../images/html.png);background-size: ;background-repeat: no-repeat;}
.csslogo{width:118px;height:144px;background: url(../images/css.png);background-size:117px 144px;background-repeat: no-repeat;}
.jslogo{width:118px;height:144px;background: url(../images/js.png);background-size:140px 150px ;background-repeat: no-repeat;}
.jquerylogo{width:200px;height:78px;background: url(../images/jquery.png);background-size:200px ;background-repeat: no-repeat;}
.reactlogo{width:214px;height:93px;background: url(../images/react.png);background-size:200px ;background-repeat: no-repeat;}

/*2、柱状条*/
.jqbar{position: relative;top: 70px;}
.jqbar.horizontal span{display: inline-block;margin-left: 5px;font-size: 11px;font-weight: bold;}
.jqbar.horizontal .bar-percent{font-size: 11px;font-weight: bold;height: 20px;margin-bottom: 5px;}
.container{width: 450px;margin: 0px 0 30px 0; height: 290px;position: relative; color: #555;}
.column, .columns{float: left;display: inline;margin-left: 10px;margin-right: 10px;}/*.row{margin-bottom: 20px;}*/
#bar-1{top: 20px;}
#bar-2{top: 28px;}
#bar-3{top: 36px;}
#bar-4{top: 44px;}
#bar-5{top: 52px;}
#bar-6{top: 60px;}
.jqbar.horizontal .bar-label{text-align: right;width: 90px;vertical-align: middle;}
.bar-level {vertical-align: middle;}
/*详细技能说明*/
.b3-right{width: 682px;height: 700px;display: inline-block;vertical-align: top;position: relative;}
.b3-right div{width: 230px;height: 230px;border-radius: 50%;-moz-box-shadow: 10px 10px 5px #888888; -webkit-box-shadow: 10px 10px 5px #888888;box-shadow: 10px 10px 5px #888888;}
.skill-1{position: absolute;top:70px;left:10px;border:10px solid #F26432;}
.b3-right p{position: absolute;top:0;left:0;bottom:0;right:0;width:169px;height:150px;margin:auto;font-size: 16px;line-height: 1.5em;padding: 10px;}
.skill-2{position: absolute;top:114px;left:300px;border:10px solid #3799D6;}
.skill-3{position: absolute;top:330px;left:15px;border:10px solid #FDDA3F;}
.skill-4{position: absolute;top:380px;left:312px;border:10px solid #EA805C;}

/*第四页内容*/
/*上*/
.b4-top{width: 100%;height: 350px;}
.timeline-top{width: 250px;height: 250px;margin:100px 0 0 0;vertical-align: bottom;display:inline-block;position: relative;}
.first-top{margin-left: 38px;}
.timeline-top-time{width: 150px;text-align: center;font-size: 14px;display:inline-block;}
.work{width: 160px;vertical-align: middle;display:inline-block;font-size: 14px;text-align: center;border-right: 2px dashed #989898; padding-right: 2px;}
.work span{ font-size: 16px; color: #2196F3;font-weight: 900;}
.skills{width: 80px;vertical-align: middle;display:inline-block;font-size: 14px;}
.skills li{padding-left: 10px;}
.point-up{ width: 33px; height: 52px;top:204px;left: 102px; position: absolute;}
/*中*/
.b4-middle{width: 100%;height: 20px;background:url(../images/timeline.png);background-repeat: repeat-x;}
/*下*/
.b4-bottom{width: 100%;height: 300px;}
.timeline-bottom{width: 250px;height: 250px;margin:0;vertical-align: top;display:inline-block;position: relative;}
.timeline-bottom-time{width: 150px;text-align: center;font-size: 14px;display:inline-block;}
.first-bottom{margin-left: 82px;}
.work-2{width: 160px;margin-top: 60px;vertical-align: middle;display:inline-block;font-size: 14px;text-align: center;border-right: 2px dashed #989898; padding-right: 2px;}
.work-2 span{ font-size: 16px; color: #2196F3;font-weight: 900;}
.skills-2{width: 80px;vertical-align: middle;display:inline-block;font-size: 14px;}
.skills-2 li{padding-left: 10px;}
.point-down{ width: 33px; height: 52px;top:2px;left: 115px; position: absolute;}
.say{width: 230px;height: 230px;position:absolute;top:370px;left:940px;background: url("../images/say.png");background-repeat: no-repeat;padding: 158px 6px 10px 1px;text-align: center;font-size: 16px; color: #FFFFFF;}


/*第五页的内容*/
.prod{border:1px solid green;width: 950px;height: 570px;margin: 27px 10px 10px 134px;text-align: center;}
.prod-title{ font-size: 22px;color: chocolate;margin-top: 20px;}