html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:middle;
    background:transparent;
    color:#FFF;

}
html{font-size: 100px;}
body {
    line-height:1;
    font-family: "Microsoft Yahei";
}

:focus {
	outline: none;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}
li {list-style-type: none;}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/*#menu { position: fixed; right: 20px; top: 50%; width: 90px; margin: -160px 0 0; padding: 0; list-style-type: none; z-index: 70;}
#menu li { margin-top: 10px; font: 14px "Microsoft Yahei";}
#menu a { display: block; padding: 10px 0; background-color: #fff; color: #0074EA; text-align: center; text-decoration: none;}
#menu .active a { color: #fff; background-color: rgb(0, 116, 234);}*/
#dowebok{font-size: .12rem;}
.banner-top {height: .40rem; width:100%;  position: fixed;z-index: 100;background-color: #ADADAD;background: rgba(14, 10, 22,0.3);filter:alpha(opacity=30); }
/*.re{ margin-top: 13px; color:#FFF8EF;font-size: 14px;display: inline-block;}*/
.head {height: .36rem;width:.36rem; float: left;margin: .02rem;border-radius: 50%;  vertical-align: middle;}
.social-network {height: .36rem;width:.36rem;float: right;border-radius: 50%; padding-top: .02rem; padding-bottom: .02rem;}
#top-title{left: 42%;position: fixed;display: inline-block;width:.60rem;height:.40rem;line-height: .40rem;font-size:.14rem;text-align:center;}
@-moz-keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
@-webkit-keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
@-o-keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
@keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
#down {  position: fixed;z-index: 100;height: 100%;width: 100%; -moz-animation: myMove 1s linear infinite alternate;   -webkit-animation: myMove 1s linear infinite alternate;  -o-animation: myMove 1s linear infinite alternate;  animation: myMove 1s linear infinite alternate;}
#downCanvas{margin: 0 auto;margin-top: 4.8rem;}
/*.section {  font: 18px "Microsoft Yahei"; color: #393939;}*/
.box1 { position: relative; width:100%; height: 100%; margin: 0 auto; background: url(../images/12.jpg); background-position: -400px 0px;background-size: 286%;overflow: hidden;}
.box2 { position: relative; width:100%; height: 100%; margin: 0 auto; background: url(../images/bg.png) #A1AFAF; overflow: hidden;}
.box3 { position: relative; width:100%; height: 100%; margin: 0 auto; background: url(../images/bg.png) #8E6D80; overflow: hidden;}
.box4 { position: relative; width:100%; height: 100%; margin: 0 auto; background: url(../images/bg.png) #D4E9D8; overflow: hidden;}
.box5 { position: relative; width:100%; height: 100%; margin: 0 auto; background: url(../images/bg.png) #53BB8A; overflow: hidden;}
.box6 { position: relative; width:100%; height: 100%; margin: 0 auto; background: url(../images/bg.png) #C23943; overflow: hidden;}
/*第一页的内容*/
.b1-text{ margin: 0 auto;margin-top: 40%;text-align: center;width: 2.16rem;}
.b1-text-resume{font-size: .24rem;}
/*.b1-text-name{margin-top:10px;font-size: 16px;}*/
.b1-text-work{margin-top:.10rem;font-size: .16rem;}
.b1-me{margin: auto;margin-top: 10%; width: 1.12rem; height: 1.12rem; background: url(../images/me2.png); background-position: -.36rem 0rem; background-size: 140%; border-radius: 50%;overflow: hidden; }
.b1-information {width:3.00rem;height:1.88rem; position: relative;left:28%; padding: .10rem .10rem;vertical-align:top;display: inline-block;text-align: left;}
.b1-information li{margin-top: .10rem;list-style-type:none;color: #FFF;}
.b1-information img{ width: .20rem; height: .20rem; margin-left:.15rem;vertical-align: middle;}
.b1-information a{vertical-align: middle;margin-left:.15rem;}
/*第二页的内容*/
.b2-box{position: relative;height: 80%;width: 3rem;display: inline-block; left: 20%;margin-top: 18%;}
.b2-box-leftline{height: 100%;width:.01rem;border-left: .01rem solid #FFF;position: absolute;display:none;}
.b2-box-passages{display: inline-block;}
.passage-1,.passage-2,.passage-3 {width: 1.80rem;height: 1.30rem; margin: .21rem .30rem;line-height: .18rem;display:table; vertical-align: middle;display:none;}
.passage-p {border:.01rem solid #FFF;width: 1.80rem;height: 1.00rem;display: table-cell;font-size: .14rem;padding: .10rem;}
/*第三页的内容*/
.b3-box{width: 100%; height: 92%; margin: auto; margin-top: .40rem;}
.jqbar{position: relative;top: .70rem;}
.jqbar.horizontal span{display: inline-block;margin-left: .01rem;font-size: .10rem;}
.jqbar.horizontal .bar-percent{font-size: .11rem;font-weight: bold;height: .10rem;margin-bottom: .04rem;}
.container{width: 100%;margin: 0 0 .10rem 0; height: 1.86rem;text-align:center;position: relative; color: #FFF;}
.column, .columns{text-align: left;width: 3.5rem; height: 1.8rem; margin: auto;display: inline-block;margin-left: .01rem;margin-right: .04rem;}/*.row{margin-bottom: 20px;}*/
#bar-1{top: .20rem;}
#bar-2{top: .28rem;}
#bar-3{top: .36rem;}
#bar-4{top: .44rem;}
#bar-5{top: .52rem;}
#bar-6{top: .60rem;}
.jqbar.horizontal .bar-label{text-align: right;width: .70rem;vertical-align: middle;}
.bar-level {vertical-align: middle;}
.b3-box-skills{width: 80%;height: 63%; margin: 0 auto; }
.skill-1,.skill-2{ width: 1.90rem; margin: auto; padding: .08rem; font-size: .14rem; border-bottom: 0.01rem solid #FFF;display: none;}

/*第四页内容*/
.b4-work{margin: auto;position: relative;top:6%; padding: .10rem;width: 74%;height: 80%;}
.b4-title{color: #75493d; width: 100%; text-align: center; font-size: .16rem}
.b4-detail{ margin:auto; margin-top:.10rem;padding:.06rem;background-color: #f5efef; border-radius: .09rem; box-shadow: 0.05rem .06rem .05rem #888888;}
.b4-div{color: #966050;font-size: .12rem;line-height: 1.5;}
.b4-div-span{color: #966050; font-size: .14rem; font-weight: bold;}
.b4-div-ul{ width: 97%; margin: 0 auto; margin-top: .04rem;line-height: 1.5;}
.b4-div-ul li{color: #000000;list-style-type: disc; margin-left: .10rem;}
.b4-p{color: #966050;}
/*第五页的内容*/
.b5-mp{ width:80%;height: 90%; font-size:.12rem;margin:0 auto;padding:.06rem;position: relative;top:7%;}
.b5-title{color: #FFF;width: 100%;text-align: center; line-height: 1.5; font-size: .16rem; }
.b5-mp-pic{width: 2.96rem; height: 1.56rem; margin: 0 auto;margin-top: .14rem;background: url(../images/prod1_1.jpg);background-size: 110%;overflow: hidden;}
.b5-mp-pic-2{width: 2.96rem; height: 1.56rem; margin: 0 auto;margin-top: .14rem;background: url(../images/prod2_1.jpg);background-size: 100%;overflow: hidden;}
.b5-detail{margin-top: .18rem; width: 100%; height: 80%;display: inline-block; vertical-align: top; text-align: left; line-height: 1.5; font-size: .12rem;}
.b5-detail p{font-size: .14rem;font-weight: 900;color:#392121;}
.b5-detail li{list-style-type: disc;}

/*第六页的内容*/
.b6-contact{width: 90%;height: 68%; margin: 0 auto; padding: .10rem;margin-top: 12%;}
.b6-contact-picbox{width: 1.60rem;height: 1.60rem; margin: 0 auto; margin-top: 20%;}
.b6-contact-pic{width: 1.60rem;height:1.60rem;box-shadow: .04rem .04rem .07rem #313131;}
.b6-contact-information{ width: 240px;height: 206px; margin: 0 auto; margin-top: 30px; padding: 8px; line-height: 1.5; border-radius: 9px;border:1px solid #FFF;}
.b6-contact-information p{text-align: center;font-size: .18rem;line-height: 2;color: #ffffff;}
.b6-contact-information ul{margin: .10rem .10rem .10rem .10rem;}
.b6-contact-information li{ margin: 0.01rem 0.3rem; width: 100%;}
.b6-contact-information span{width: .62rem;display: inline-block;font-weight:bold;}


/*按钮样式*/
.button{width: .90rem;line-height: .16rem;text-align: center;font-size:.12rem;color: #fff;font-family:"Microsoft Yahei";text-shadow:.01rem .01rem .01rem #333;border-radius: .05rem;margin:0;position: relative;overflow: hidden;}
.button.black{border:.01rem solid #333;box-shadow: 0 .01rem .02rem #8b8b8b inset,0 -.01rem 0 #3d3d3d inset,0 -.02rem .03rem #8b8b8b inset;background: -webkit-linear-gradient(top,#656565,#4c4c4c);background:#656565;background: -moz-linear-gradient(top,#656565,#4a4a4a);background: linear-gradient(top,#656565,#4a4a4a); }
/*:root .button.black{filter:none;} */
.black:hover{cursor: pointer;background: -webkit-linear-gradient(top,#818181,#575757);background: -moz-linear-gradient(top,#818181,#575757);background: linear-gradient(top,#818181,#575757);}
.black:active{top:.01rem;box-shadow: 0 .01rem .03rem #111 inset,0 .03rem 0 #fff;background: -webkit-linear-gradient(top,#424242,#575757);background: -moz-linear-gradient(top,#424242,#575757);background: linear-gradient(top,#424242,#575757);}
