html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:middle;
    background:transparent;

}

body {
    line-height:1;
    font-family: "Microsoft Yahei";
}

:focus {
	outline: none;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}
li {list-style-type: none;}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

#menu { position: fixed; right: 20px; top: 50%; width: 90px; margin: -160px 0 0; padding: 0; list-style-type: none; z-index: 70;}
#menu li { margin-top: 10px; font: 14px "Microsoft Yahei";}
#menu a { display: block; padding: 10px 0; background-color: #fff; color: #0074EA; text-align: center; text-decoration: none;}
#menu .active a { color: #fff; background-color: rgb(0, 116, 234);}
.banner-top {height: 64px; width:100%;  position: fixed;z-index: 100;background-color: #ADADAD;background: rgba(14, 10, 22,0.3);filter:alpha(opacity=30); }
.re{ margin-top: 19px; color:#FFF8EF;font-size: 18px;display: inline-block;}
.head {height: 46px;width:46px; float: left;margin: 10px;border-radius: 50%; -webkit-border-radius:50%; vertical-align: middle;}
.social-network {height: 46px;width:46px;float: right;border-radius: 50%; -webkit-border-radius:50%;padding-top: 10px; padding-bottom: 10px;}
.section {  font: 18px "Microsoft Yahei"; color: #393939;}
.box1 { position: relative; width:100%; height: 100%; margin: 0 auto; background-image: url(../images/12.jpg); overflow: hidden;}
.box2 { position: relative; width:100%; height: 100%; margin: 0 auto; background: url(../images/bg.png) #A1AFAF; overflow: hidden;}
.box3 { position: relative; width:100%; height: 100%; margin: 0 auto; background: url(../images/bg.png) #FFF; overflow: hidden;}
.box4 { position: relative; width:100%; height: 100%; margin: 0 auto; background: url(../images/bg.png) #D4E9D8; overflow: hidden;}
.box5 { position: relative; width:100%; height: 100%; margin: 0 auto; background: url(../images/bg.png) #53BB8A; overflow: hidden;}
.box6 { position: relative; width:100%; height: 100%; margin: 0 auto; background: url(../images/bg.png) #C23943; overflow: hidden;}
/*第一页的内容*/
.b1-text {width:400px;height: 450px; margin: 20% auto;text-align: center;}
.b1-text p{ font-size: 24px;color:#FCFDFC;line-height: 2; }
@-moz-keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
@-webkit-keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
@-o-keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
@keyframes myMove {  0% {padding-top:30px;}  100% {padding-top:50px;}}
#down {  text-align: center;  height: 150px; margin-top:110px; -moz-animation: myMove 1s linear infinite alternate;   -webkit-animation: myMove 1s linear infinite alternate;  -o-animation: myMove 1s linear infinite alternate;  animation: myMove 1s linear infinite alternate;}
#downCanvas{margin: 0 auto;}
/*第二页的内容*/
.box2-top { text-align: center;margin-top: 100px;  }
.b2-me {width:379px; height:279px;position: relative;left:-120%; border-radius: 20px;-webkit-border-radius:20px;box-shadow: 4px 4px 7px #313131;}
.b2-text {width:300px;height:267px; position: relative;right:-120%; padding: 10px 30px;vertical-align:top;display: inline-block;text-align: left;}
.b2-text li{margin-top: 15px;list-style-type:none;color: #FFF;}
.b2-text img{ width: 20px; height: 20px; margin-left:15px;vertical-align: middle;}
.b2-text a{vertical-align: middle;margin-left:15px;}
.box2-bottom {border-top:2px dashed gray;margin-top:20px;text-align: center;position: relative;display: none;color: #FFF;}

.box2-bottom li{ width: 220px;height: 160px;margin:10px 0 0 0;border:3px solid #003359;border-radius: 20px;padding:4px;vertical-align:middle;list-style-type: none;display: inline-block;text-align: left;font-size: 17px;
    padding: 5px 5px 5px 11px;
    line-height: 1.5; }
.box2-bottom img{width: 130px;height: 108px;vertical-align: middle;}
.box2-bottom p{width:23px;height:120px;margin-right: 10px;display:inline-block; font-size:23px;font-weight:900;vertical-align: middle;}
/*第三页的内容*/
.b3-left{display: inline-block;margin:0 0 0 60px;vertical-align: top;}
/*logos*/
.logos{width: 450px;height: 250px;margin:98px 0 0 0;}
.logos li{list-style-type: none;display: inline-block;}
/*.logos img{border:1px solid green;}*/
.htmllogo{display:none;width:118px;height:144px;background: url(../images/html.png);background-size: ;background-repeat: no-repeat;}
.csslogo{display:none;width:118px;height:144px;background: url(../images/css.png);background-size:117px 144px;background-repeat: no-repeat;}
.jslogo{display:none;width:118px;height:144px;background: url(../images/js.png);background-size:140px 150px ;background-repeat: no-repeat;}
.jquerylogo{display:none;width:200px;height:78px;background: url(../images/jquery.png);background-size:200px ;background-repeat: no-repeat;}
.reactlogo{display:none;width:214px;height:93px;background: url(../images/react.png);background-size:200px ;background-repeat: no-repeat;}

/*2、柱状条*/
.jqbar{position: relative;top: 70px;}
.jqbar.horizontal span{display: inline-block;margin-left: 5px;font-size: 11px;font-weight: bold;}
.jqbar.horizontal .bar-percent{font-size: 11px;font-weight: bold;height: 20px;margin-bottom: 5px;}
.container{width: 450px;margin: 0px 0 30px 0; height: 290px;position: relative; color: #7E7E7E;}
.column, .columns{float: left;display: inline;margin-left: 10px;margin-right: 10px;}/*.row{margin-bottom: 20px;}*/
#bar-1{top: 20px;}
#bar-2{top: 28px;}
#bar-3{top: 36px;}
#bar-4{top: 44px;}
#bar-5{top: 52px;}
#bar-6{top: 60px;}
.jqbar.horizontal .bar-label{text-align: right;width: 90px;vertical-align: middle;}
.bar-level {vertical-align: middle;}
/*详细技能说明*/
.b3-right{width: 682px;height: 700px;display: inline-block;vertical-align: top;position: relative;}
.b3-right div{width: 230px;height: 230px;border-radius: 50%;/*-moz-box-shadow: 10px 10px 5px #888888; -webkit-box-shadow: 10px 10px 5px #888888;box-shadow: 10px 10px 5px #888888;*/}
.b3-right p{position: absolute;top:0;left:0;bottom:0;right:0;width:169px;height:150px;margin:auto;font-size: 16px;line-height: 1.5em;padding: 10px;color:#7E7E7E;}
.skill-1{display:none;position: absolute;top:70px;left:10px;border:10px solid #F26432;}
.skill-2{display:none;position: absolute;top:114px;left:300px;border:10px solid #3799D6;}
.skill-3{display:none;position: absolute;top:330px;left:15px;border:10px solid #FDDA3F;}
.skill-4{display:none;position: absolute;top:380px;left:312px;border:10px solid #293434;}

/*第四页内容*/
/*上*/
.b4-top{width: 100%;height: 330px;position: relative;}
.work-1,.work-2,.work-3,.work-4,.work-5{display:none;position:absolute;width: 250px;height: 250px;vertical-align: bottom;}
.work-1{top:90px;left:100px;}
.work-2{top:42px;left:300px;}
.work-3{top:90px;left:500px;}
.work-4{top:42px;left:690px;}
.work-5{top:90px;left:860px;}

.point-1,.point-2,.point-3,.point-4,.point-5,.point-6{display:none;position:absolute; width: 24px; height: 40px;}
.point-1{ top:294px;left:161px;}
.point-2{ top:0;left:374px;}
.point-3{ top:294px;left:580px;}
.point-4{ top:0;left:764px;}
.point-5{ top:294px;left:938px;}
.point-6{ top:294px;left:1100px;}


.time-1,.time-2,.time-3,.time-4,.time-5{display:none;position:absolute;width: 150px;text-align: center;font-size: 14px;}
.time-1{top:0;left:100px;}
.time-2{bottom:0;left:310px;}
.time-3{top:0;left:518px;}
.time-4{bottom:0;left:700px;}
.time-5{top:0;left:876px;}

.work{width: 160px;vertical-align: middle;display:inline-block;font-size: 14px;text-align: center;border-right: 2px dashed #989898; padding-right: 2px;}
.work span{ font-size: 16px; color: #2196F3;font-weight: 900;}
.skills{width: 80px;vertical-align: middle;display:inline-block;font-size: 14px;}
.skills li{padding-left: 10px;}
/*中*/
.b4-middle{display:none;width: 100%;height: 20px;background:url(../images/timeline.png);background-repeat: repeat-x;}
/*下*/
.b4-bottom{width: 100%;height: 300px;position: relative;}
.work-s{width: 160px;vertical-align: middle;display:inline-block;font-size: 14px;text-align: center;border-right: 2px dashed #989898; padding-right: 2px;}
.work-s span{ font-size: 16px; color: #2196F3;font-weight: 900;}
.skills-s{width: 80px;vertical-align: middle;display:inline-block;font-size: 14px;}
.skills-s li{padding-left: 10px;}
.say{display:none;width: 230px;height: 230px;position:absolute;top:10px;left:940px;background: url("../images/say.png");background-repeat: no-repeat;padding: 158px 6px 10px 1px;text-align: center;font-size: 16px; color: #FFFFFF;}


/*第五页的内容*/
.prod{width: 950px;height: 570px;text-align: center;margin: 66px 10px 10px 135px;color: #FFF;}
.prod-title{ font-size: 24px;font-weight: 900;color:#FFF;margin-top: 20px;}
.prod-pic{width:500px;height:512px;display:inline-block;position: relative;}
.prod-pic img{ width: 348px;height: 192px;position: absolute;box-shadow: 5px 6px 5px #888888;}
.prod-pic1 {top:10px;left:50px;z-index: 10;}
.prod-pic2 {top:175px;left:80px;z-index: 9;}
.prod-pic3 {top:350px;left:110px;z-index: 8;}
.pic-changed{
    -moz-transition: all .4s ease ;
    -webkit-transition: all .4s ease ;
    -o-transition: all .4s ease ;
    transition: all .4s ease ;
}
.prod-word{width: 380px;height: 512px;padding:28px 20px;display: inline-block;vertical-align: top;text-align: left;line-height: 2;font-size: 16px;}
.prod-word p{font-size: 18px;font-weight: 900;color:#392121;}
.prod-word li{list-style-type: disc;}
.pic-changed:hover{
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 20;
   /* top:175px;
    left:80px;*/
}

/*第六页的内容*/
.contacts{width: 500px;height: 365px;border-radius:18px;margin: 0 auto;margin-top: 100px;background: url('../images/card.png');background-repeat: no-repeat;-moz-box-shadow: 10px 10px 15px #0a0a0a; -webkit-box-shadow: 10px 10px 15px #0a0a0a;box-shadow: 10px 10px 15px #0a0a0a;}
.contacts p{text-align: center;font-size: 24px;line-height: 2;height: 28px; padding: 60px 10px 20px 10px;color: #ffffff;text-shadow: 2px 2px 2px #111;}
.contacts img{width: 120px;height:120px;margin: 10px 10px 10px 50px;box-shadow: 4px 4px 7px #313131;}
.contacts ul{margin: 10px 10px 10px 20px;display: inline-block;}
.contacts span{width: 82px;display: inline-block;font-weight: 900;text-shadow: 1px 1px 1px #fff;}



/*按钮样式*/
.button{width: 90px;line-height: 17px;text-align: center;color: #fff;font-family:"Microsoft Yahei";text-shadow:1px 1px 1px #333;border-radius: 5px;margin:0;position: relative;overflow: hidden;}
.button.black{border:1px solid #333;box-shadow: 0 1px 2px #8b8b8b inset,0 -1px 0 #3d3d3d inset,0 -2px 3px #8b8b8b inset;background: -webkit-linear-gradient(top,#656565,#4c4c4c);background:#656565;background: -moz-linear-gradient(top,#656565,#4a4a4a);background: linear-gradient(top,#656565,#4a4a4a); }
/*:root .button.black{filter:none;} */
.black:hover{cursor: pointer;background: -webkit-linear-gradient(top,#818181,#575757);background: -moz-linear-gradient(top,#818181,#575757);background: linear-gradient(top,#818181,#575757);}
.black:active{top:1px;box-shadow: 0 1px 3px #111 inset,0 3px 0 #fff;background: -webkit-linear-gradient(top,#424242,#575757);background: -moz-linear-gradient(top,#424242,#575757);background: linear-gradient(top,#424242,#575757);}



/*小动画，飘方块*/
/*.iconfont{font-size:32px;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
.container-pao-1{width:70px;height: 70px;position: relative;left:16%;top:70%;}
.container-pao-2{width:70px;height: 70px;position: absolute;right:26%;top:70%;}
.pao{width: 61px;height: 68px; position: absolute;background-size: cover;bottom:0;left:70px;}
.paopao{font-size:32px;position: absolute;top:-32px;}*/